ol#gallery{
    margin: 0px 5%;
    padding: 0
    }
    
    ol#gallery li{
    float:left;
    background-color: #000;
    color: #fff;
    margin: 0 0 30px;
    padding: 0;
    list-style-type: none
    }
    
    ol#gallery h3{
    margin: 0;
    padding: 3px 0 16px;
    background: #000 url('film.jpg') repeat-x bottom right;
    color: #fff;
    font: 12px light arial,sans-serif;
    text-align: center
    }
    
    ol#gallery a{
    display: block;
    padding: 3px 3px 16px;
    background: #000 url('film.jpg') repeat-x bottom right
    }
    
    ol#gallery a:hover{
    color: #fff; /*hack per ie5.5 e le regole sotto*/
    }
    
    ol#gallery a img{
    border: 2px solid #000
    }
    
    ol#gallery a:hover img{
    border-color: #FFFFA0
    }
